{% load static %}
    <!-- Header Section -->
    <header class="header">
      <div class="container container--narrow">
        <a class="navbar-brand" href="/"><span style="font-weight: bold ; color:white ;">CMGT</span></a>
        <nav class="header__nav">
          <input type="checkbox" id="responsive-menu" />
          <label for="responsive-menu" class="toggle-menu">
            <span>Menu</span>
            <div class="toggle-menu__lines"></div>
          </label>
          <ul class="header__menu">
            
            

            
            {% if request.user.is_authenticated  %}    
            
            
            <li class="header__menuItem"><a href="{% url 'profile' %}" class="btn btn--sub">Profile</a></li>
            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
            {% else %}
            <li class="header__menuItem"><a href="{% url 'register-teacher' %}">Teacher</a></li>
            <li class="header__menuItem"><a href="{% url 'register-student' %}">Student</a></li>
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>